.field {
    width: 90%;
    height: 90vh;
    background-color: $main-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin: 0 auto;

    .tile {
        width: 20%;
        height: 25px;
        background-color: white;
        border: 1px solid $main-color;
        margin: 3px;
        border-radius: 3px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
}