.field {
    width: 90%;
    height: 85vh;
    background-color: $main-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin: 0 auto;

    .tile {
        width: 20%;
        background-color: white;
        border: 1px solid $main-color;
        margin: 2px;
        border-radius: 3px;
        color: black;
    }
}