.field {
    width: 100%;
    max-width: 400px;
    height: 50vh;
    background-color: $main-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin: 10px auto;
    padding-bottom: 60px;
    padding-top: 60px;

    .tile {
        width: 9%;
        height: 7%;
        border: 1px solid $main-color;
        margin: 0px 2.5px;
        border-radius: 3px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;

        &.scanning {
            background-color: rgb(56, 52, 52);
            position: relative;

            &::after {
                content: '';
                position: absolute;
                height: 2px;
                width: 50px;
                background-color: red;
                box-shadow: 0 0 20px red;
                bottom: 0;
                animation: scan_animation 1.2s ease-in-out;
            }
        }

        &.boom {
            position: relative;

            &::after {
                content: '💥';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;

                bottom: 0;
                z-index: 10;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0px;
                animation: explosion .6s ease;
            }
        }
    }
}


@keyframes scan_animation {
    0% {
        bottom: 3%;
    }

    50% {
        bottom: 96%;
    }

    100% {
        bottom: 5%;
    }
}

@keyframes explosion {
    from {
        font-size: 2px;
    }

    to {
        font-size: 200px;
    }
}
